.list-product{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px;
    border-radius: 6px;
    
    .top-head{
        display: flex;
        border-bottom: 1px solid rgb(232, 231, 231);
        margin-bottom: 20px;
        .title{
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}